<div>
	<h2>Chart Line</h2>
	<app-chart-line
		[width]="400"
		[height]="300"
		[circleSize]="6"
		[gap]="30"
		[colors]="['#2d63d7', '#4bbd4b', '#FFA500', '#FF6F61', '#0F52BA', '#50C878', '#A52A2A']"
		[xTexts]="['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']"
		[yTexts]="[0, 100, 200, 300, 400, 500, 600]"
		[data]="[
			[0, 170.2, 180.1, 170.7, 200, 500, 600, 600],
			[50.01, 100.2, 280.1, 370.7, 360.8, 500.7, 0],
			[50, 100, 250, 300, 390, 300, 20, '10']
		]"
		[enableAutoWidth]="true"
	/>
</div>
<div>
	<h2>Chart Donut Half</h2>
	<app-chart-donut-half
		[width]="350"
		[height]="300"
		[thickness]="27"
		[gapBetweenSegments]="3"
		[showSegmentData]="true"
		[gap]="1"
		[spaceBetweenLetters]="3.3"
		[colors]="['#2d63d7', '#4bbd4b', '#FFA500', '#FF6F61', '#0F52BA', '#50C878', '#A52A2A']"
		[data]="{
			title: 'Better performance!',
			list: [
				{ percentage: 10, text: '100' },
				{ percentage: 20, text: '200' },
				{ percentage: 30, text: '300' },
				{ percentage: 40, text: '400' }
			]
		}"
	/>
</div>
<div><div>3</div></div>
<div><div>4</div></div>
<div><div>5</div></div>
