<svg class="graph" [attr.width]="width" [attr.height]="height">
	<path *ngFor="let segment of segment.list" [attr.fill]="segment.color" [attr.d]="segment.dataType"></path>

	<ng-container *ngFor="let segment of segment.list">
		<ng-container *ngFor="let letter of segment.letters">
			<text
				[attr.x]="letter.position.x"
				[attr.y]="letter.position.y"
				[attr.transform]="transformRotate(letter)"
				text-anchor="middle"
				alignment-baseline="middle"
			>
				{{ letter.text }}
			</text>
		</ng-container>
	</ng-container>

	<ng-container *ngIf="showSegmentData">
		<text
			class="graph__title"
			[attr.x]="textTitle.xInPercentage"
			[attr.y]="textTitle.y"
			text-anchor="middle"
			alignment-baseline="middle"
		>
			{{ data.title }}
		</text>
		<text
			class="graph__sum"
			[attr.x]="textSum.xInPercentage"
			[attr.y]="textSum.y"
			text-anchor="middle"
			alignment-baseline="middle"
		>
			{{ segmentSumText }}
		</text>
	</ng-container>
</svg>
