:host {
	font-family: 'Roboto', 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 600;

	.graph {
		background: white;

		&__segment-text {
			fill: white;
		}

		&__title,
		&__sum {
			font-weight: 400;
		}

		&__title {
			font-size: 17px;
			fill: #ff6f61;
		}
		&__sum {
			font-size: 26px;
			fill: #ff6f61;
		}
	}
}
