<svg class="graph" [attr.width]="width" [attr.height]="height">
	<g class="graph__line-horizontal--dashed">
		<line
			*ngFor="let line of svgLineDashed"
			[attr.x1]="line.x1"
			[attr.y1]="line.y1"
			[attr.x2]="line.x2"
			[attr.y2]="line.y2"
			[attr.stroke-dasharray]="line.strokeDasharray"
			[attr.stroke-width]="line.strokeWidth"
			[attr.stroke]="line.color"
		/>
	</g>

	<g class="graph__text-horizontal">
		<text *ngFor="let text of svgTextX.list" [attr.x]="text.x" [attr.y]="text.y" [attr.text-anchor]="'middle'">
			{{ text.description }}
		</text>
	</g>

	<g class="graph__text-vertical">
		<text *ngFor="let text of svgTextY.list" [attr.x]="text.x" [attr.y]="text.y" [attr.text-anchor]="text.textAnchor">
			{{ text.description }}
		</text>
	</g>

	<ng-container *ngFor="let row of svgCircleMatrix.matrix; let i = index">
		<g class="graph__data">
			<line
				*ngFor="let pointer of svgLineMatrix.matrix[i]"
				[attr.x1]="pointer.x1"
				[attr.y1]="pointer.y1"
				[attr.x2]="pointer.x2"
				[attr.y2]="pointer.y2"
				[attr.stroke]="pointer.color"
				[attr.stroke-width]="pointer.strokeWidth"
			/>
			<circle
				*ngFor="let circle of row"
				[attr.cx]="circle.cx"
				[attr.cy]="circle.cy"
				[attr.data-value]="circle.dataY"
				[attr.r]="circle.r"
				[attr.stroke]="circle.color"
				[attr.stroke-width]="circle.strokeWidth"
			/>
		</g>
	</ng-container>
</svg>
